@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
}
body {
  overflow: overlay;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff8d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

._bg {
  user-select: none;
}

#landing {
  background-image: url("/assets/landing/background.png");
  background-size: cover;
}
